Index - Generic

      <div class="jumbotron">
        <h3>Tzoned</h3>
        <p>Welcome to Tzoned. Please Sign-in or Sign-up to continue.</p>
        <p>
          {{#link-to 'login' class="btn btn-md btn-primary"}}Login{{/link-to}}
          <a class="btn btn-md btn-info" href="../../components/#navbar" role="button">Sign Up</a>
        </p>
      </div>