{{outlet}}

<h3>Your timezones</h3>
{{#each model as |timezone|}}
  <div class="well">
    {{timezone.name}} - {{timezone.abbr}} - {{timezone.gmt_difference}}
    {{#link-to "timezones.edit" timezone.id class="btn btn-primary"}}Edit{{/link-to}}
  </div>
{{/each}}

