{{outlet}}

<h3>Users</h3>
{{#each model as |user|}}
  <div class="well">
    {{#link-to "users.edit" user.id}} {{user.email}} {{/link-to}}

    <p>
      {{user.role}}
    </p>

    <button {{ action "deleteUser" user.id }} class="btn btn-xs btn-danger">Delete</button>

  </div>
{{/each}}
